//_____________________________ #00 variables _____________________________
$headerBgColor: #603913;
$activeElementColor: #37a000;
$inputBgColor: #8c6239;
$contentBgColor: #c69c6d;
$textColor: #d2b18e;
$mainMargin: 70px;

//___________________________ #01 generale rules __________________________
* {
	font-size: inherit;
	color: inherit;
}

//___________________________ #02 #header styling _________________________
#header {
	color: white;
	background: $headerBgColor;
	font-family: verdana, arial, sans-serif;
	h1 {
		margin: $mainMargin 0px 0px;
	}
	p {
		color: $textColor;
		margin: 0px 0px $mainMargin 0px;
	}
	.input-group {
		input {
			background: $inputBgColor;
			border: 2px solid $inputBgColor;
			border-right: none;
			border-radius: 0px;
			color: white;
			box-shadow: none;
			
			&:focus, &:hover {
				border-color: $activeElementColor;
			}
			
			//change placeholder color
			&::-moz-placeholder {
				color: white;
			}
			&::-webkit-input-placeholder {
				color: white;
			}
			&:-ms-input-placeholder {
				color: white;
			}
		}
		.input-group-addon {
			cursor: pointer;
			background: $activeElementColor;
			color: white;
			border: none;
			border-radius: 0px;
		}
	}
	
	a.random {
		margin: $mainMargin - 30px 0px;
		color: white;
		display: block;
		text-align: center;
		text-decoration: none;
		.glyphicon {
			vertical-align: middle;
		}
	}
}