//_____________________________ #00 variables _____________________________
$headerBgColor: #603913;
$activeElementColor: #5a8f35;
$inputBgColor: #8c6239;
$contentBgColor: #c69c6d;
$textColor: #d2b18e;

$bigMargin: 70px;
$normalMargin: $bigMargin - 30px;
$smallMargin: 15px;

//___________________________ #01 generale rules __________________________
body {
	background: $contentBgColor;
}

* {
	font-size: inherit;
	color: inherit;
}

a, a:hover, a:active, a:visited{
	text-decoration: none;
	color: inherit;
}

//___________________________ #02 #header styling _________________________
#header {
	color: white;
	background: $headerBgColor;
	font-family: verdana, arial, sans-serif;
	h1 {
		margin: $bigMargin 0px 0px;
	}
	p {
		color: $textColor;
		margin: 0px 0px $bigMargin 0px;
	}
	.input-group {
		input {
			background: $inputBgColor;
			border: 2px solid $inputBgColor;
			border-right: none;
			border-radius: 0px;
			color: white;
			box-shadow: none;
			
			&:focus, &:hover {
				border-color: $activeElementColor;
			}
			
			//change placeholder color
			&::-moz-placeholder {
				color: white;
			}
			&::-webkit-input-placeholder {
				color: white;
			}
			&:-ms-input-placeholder {
				color: white;
			}
		}
		.input-group-addon {
			cursor: pointer;
			background: $activeElementColor;
			color: white;
			border: none;
			border-radius: 0px;
		}
	}
	
	a.random {
		margin: $normalMargin 0px;
		color: white;
		display: block;
		text-align: center;
		text-decoration: none;
		.glyphicon {
			vertical-align: middle;
		}
	}
}

//___________________________ #03 #content styling _________________________
#content {
	color: white;
	.container {
		padding: $normalMargin 0px $normalMargin - $smallMargin 0px;
		.entry {
			background: $inputBgColor;
			margin: 0px 0px $smallMargin;
			&:hover {
				background: $activeElementColor;
			}
			a {
				display: block;
				padding: $smallMargin;
				h2, p {
					margin: 0px;
				}
				p {
					color: $textColor;
				}
			}
			
		}
	}
}